{% extends "clothesshop/base.html" %}
{% load static %}

{% block title %}SHOP{% endblock %}
{% block extra_head %}
  <style>
      .footer-column .shoplink{
          text-decoration: underline;
          text-decoration-thickness: 12%;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="landingImageGrid">
        <!-- PANEL 1 -->
        <figure class="landingImagePanel">
          <img src="{% static 'images/landingImage0.png' %}" alt="landing image">
        </figure>

        <!-- PANEL 2 -->
        <figure class="landingImagePanel">
          <img src="{% static 'images/landingImage1.png' %}" alt="landing image">
          <figcaption class="landingImageText" aria-hidden="false">
            <div class="landingImageHeader">OUR FIRST DROP</div>
            <div class="landingImageHeader2">The First.</div>
            <a href="#">
              <button class="slide-fill-btn">
                <span>SHOP NOW</span>
              </button>
            </a>
          </figcaption>
        </figure>

        <!-- PANEL 3 -->
        <figure class="landingImagePanel">
          <img src="{% static 'images/landingImage2.png' %}" alt="landing image">
        </figure>
  </div>


  <div class="bodyContent">

    <section class="bodySection0">
    <h1>NEW DROPS</h1><br>
      {% if new %}
        <div class="bodyGrid0">
          {% for listings in new|slice:":8" %}
            {% with images=listings.images.all %}
              <a href="{% url 'listing' listings.id %}">
                <figure class="listingCard">
                  <div class="cardImage">
                    {% if images %}
                      <img class="mainImage" src="{{ images.0.image.url }}" alt="{{ listings.title }}">
                    {% if images|length > 1 %}
                      <img class="hoverImage" src="{{ images.1.image.url }}" alt="{{ listings.title }}">
                    {% else %}
                      <img class="hoverImage" src="{{ images.0.image.url }}" alt="{{ listings.title }}">
                    {% endif %}

                    {% else %}
                      <img src="https://placehold.co/300x200?text=No+Image" alt="No image available">
                    {% endif %}
                  </div>
                  <figcaption class="listingTitle">{{ listings.title }}</figcaption>
                  <figcaption class="listingPrice">${{ listings.price }}</figcaption>
                </figure>
              </a>
            {% endwith %}
          {% endfor %}
        </div>
      {% else %}
        <p class="no-listings">No listings found at the moment.</p>
      {% endif %}
    </section>

  </div>
{% endblock %}
{% block scripts %}
{% endblock %}